<%# dépend de show.html.erb %>

<div id="<%= dom_id souvenir %>">
  <%#<p>
    <strong>Title:</strong>
    <%= souvenir.title %>
  </p>

  <%#<p>
    <strong>Timemarker:</strong>
    <%= souvenir.timemarker %>
  </p>

  <%#<p>
    <strong>Feeling:</strong>
    <%= souvenir.feeling %>
  </p> 
  
  </div>
