<p style="color: green"><%= notice %></p>

<p> COLLECTION <p>

<div id="souvenirs" class="row">
  <% @souvenirs.each do |souvenir| %>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h2><%= souvenir.title%></h2>
          <%= link_to "Show this souvenir", souvenir, class: 'btn btn-primary btn-sm stretched-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New souvenir", new_souvenir_path %>
